* {
  font-family: "Golos Text", sans-serif;
}

.font-default {
  font-family: Golos Text;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}
.font-medium {
  font-family: Golos Text;
  font-weight: 500;
  font-style: Medium;
  font-size: 25px;
  line-height: 100%;
  letter-spacing: 0%;
}

.font-bold {
  font-family: Golos Text;
  font-weight: 700;
  font-style: Bold;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
}
.font-extra-bold {
  font-family: Golos Text;
  font-weight: 900;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: justify;
  text-transform: uppercase;
}

.font-body {
  font-family: Golos Text;
  font-weight: 400;
  font-style: Regular;
  font-size: 39px;
  line-height: 133%;
  letter-spacing: 0%;
}
