@mixin bg-picture {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin bg-blur {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
