:root {
  --color-grey: rgba(109, 109, 109, 0.7);
  --color-grey-accent: rgba(109, 109, 109, 1);
  --color-grey-bright: rgba(109, 109, 109, 0.2);
  --color-blue-secondary: rgba(97, 184, 238, 0.54);
  --color-blue: rgba(97, 184, 238, 1);
  --color-blue-opacity: rgba(97, 184, 238, 0.75);
  --color-white: rgba(255, 255, 255, 1);

  --color-unrenovated: rgba(109, 109, 109, 0.7);
  --color-unfinished: rgba(109, 109, 109, 0.2);
  --color-fully-finished: rgba(97, 184, 238, 0.4);
}
:root {
  --radius-md: 40px;
  --radius-footer: 48px;
}
:root {
  --font-size-md: 30px;
  --font-size-md-adaptive: clamp(7px, 1.4vw, 30px);
}
